<% provide(:title,  "#{t :service_content_3}") %>

<div class="main-content" id="">
  <div class="container">
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%= t :service_content_3 %>  <span></span>
      </div>
      <div class="subheader-separator"></div>
      <div class="column-455 m-right-70 m-top-50">
        <%= render 'form' %>
        <br>
        <div class="clearfix"></div>
        <%= link_to "#{t :service_content_2}", services_path, class: "submit-btn rounded", style: "float: left" %>
        <br>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>