<div id="about" class="section about">
  <div class="container">
    <div class="arrow 05">
      <%= image_tag("arrow/arrow_01.png", alt: "arrow_01") %>
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        Thank you <span></span>
      </div>
      <div class="subheader-separator"></div>
      <div class="m-top-50">
        <div class="summary">
          You have successfully unsubscribed from this list.
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>