<div class="sidebar">
  <div class="sidebar-container">
  <div class="subheader-text">
    <span>Get a free quote.</span>
  </div>
  <div class="sidebar-form">
    <%= render 'shared/contact_form' %>
  </div>
  </div>
</div>

