<div class="sidebar">
  <div class="sidebar-container">
  <div class="subheader-text">
    <span><%= t :contact_content_1 %></span>
  </div>
  <div class="sidebar-form">
    <%= render 'shared/contact_form' %>
  </div>
  </div>
</div>

