<div class="footer">
  <div class="container">
      <div class="float-left">
        <img src="images/logo/logo_footer.png" alt="logo"/>
      </div>
      <h6 class="float-right">&copy; Copyright <%= Date.today.year %> Professional ecommerce Magento development</h6>
  </div>
</div>