<div class="section first-section">
  <div class="container">
    <div class="galery-wrapper">
      <div class="gallery">
        <div class="gallery-slide gallery-slide-first">
          <% if I18n.locale == :en %>
              <img src="images/slide/slide01.png" alt="slide 01" />
              <% elsif I18n.locale == :ru %>
              <img src="images/slide/slide01_ru.png" alt="slide 01" />
          <% end %>
        </div>
        <div class="gallery-slide">
          <% if I18n.locale == :en %>
              <img src="images/slide/slide02.png" alt="slide 02" />
          <% elsif I18n.locale == :ru %>
              <img src="images/slide/slide02_ru.png" alt="slide 02" />
          <% end %>
        </div>
        <div class="gallery-slide">
          <% if I18n.locale == :en %>
              <img src="images/slide/slide03.png" alt="slide 03" />
          <% elsif I18n.locale == :ru %>
              <img src="images/slide/slide03_ru.png" alt="slide 03" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="gallery-nav"></div>
  </div>
</div>