<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="logo top-header-logo item-left">
          <img src="images/logo/logo.png" alt="logo"/>
        </div>
      </div>
      <div class="col-xs-6">
        <h4 class="slogan">Professional ecommerce Magento development</h4>
      </div>
      <div class="col-xs-3">
        <strong class="pull-right"><a href="mailto:#">contact@emaster.pro</a></strong>
        <p class="flags">
          <%= link_to('?locale=en', data: {no_turbolink: true}, class: 'nav-active rounded us-flag') do %>
          <% end %>
          <%= link_to('?locale=ru', data: {no_turbolink: true}, class: 'nav-active rounded ru-flag') do %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
