<div class="footer">
  <div class="container">
    <div class="float-left">
      <%= link_to(root_path) do %>
          <%= image_tag("logo/logo_footer.png") %>
      <% end %>
    </div>
    <h6 class="float-right">&copy; Copyright <%= Date.today.year %>   <%= t :footer_content_1 %></h6>
  </div>
</div>

