<% provide(:title, 'Edit Articles') %>

<div class="main-content" id="news">
  <div class="container">
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        New Article <span></span>
      </div>
      <div class="subheader-separator"></div>
      <div class="column-455 m-right-70 m-top-50">

        <%= render 'form' %>
        <br>
        <br>
        <%= link_to 'Back', articles_path, class: "submit-btn rounded", style: "float: left" %>

      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>