<div id="about" class="section about">
  <div class="container">
    <div class="arrow 01">
      <%= image_tag("arrow/arrow_01.png", alt: "arrow_01") %>
    </div>
<% provide(:title, @user.name) %>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        Your profile <span> </span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="column-455 m-right-70 m-top-50">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <br>
        <%= @user.name %>
      </h1>
      <% if @user.admin? %>
      <h1>You are Admin user</h1>
          <% else %>
          <h1>You are not is Admin user</h1>
      <%end %>




    </section>
    <section>
    </section>
  </aside>
</div>
</div>
</div>