<% provide(:title, "#{t :project_content_4}") %>

<div class="main-content" id="">
  <div class="container">
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%= t :project_content_4 %> <span></span>
      </div>
      <div class="subheader-separator"></div>
      <div class="column-455 m-right-70 m-top-50">

        <%= render 'form' %>
        <br>
        <br>
        <div class="clearfix"></div>
        <%= link_to  "#{t :project_content_2}", projects_path, class: "submit-btn rounded", style: "float: left" %>

      </div>

    </div>
  </div>
</div>