@import "bootstrap";

/* Reset the container */
// http://getbootstrap.com/getting-started/#disable-responsive
// http://hashcode.ru/questions/301042/bootstrap-%D0%BD%D0%B5-%D0%B0%D0%B4%D0%B0%D0%BF%D1%82%D0%B8%D0%B2%D0%BD%D0%B0%D1%8F-%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%BA%D0%B0
.container {
  width: 970px;
  max-width: none !important;
}

/* Non-responsive overrides navbar.*/
/* http://getbootstrap.com/examples/non-responsive/ */
/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}


.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


a {
  color: #EF672F;
  text-decoration: none;
}

a:focus,
a:hover
{
  color: #C14800;
}

h5, .h5 {
  font-size: 15px;
}


.carousel-control.right,
.carousel-control.left
{
  background: none;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-header-menu {
  width: 100%;
  height: 40px;
  background: url(image-path('background/bg_contact.png')) repeat scroll 0 0 transparent;
}

.footer-menu {
  width: 100%;
  height: 40px;
  background: url(image-path('background/bg_footer_menu.png')) repeat scroll 0 0 transparent;
}

.navbar-default {
  background: none;
  border: none;
}

.top-header-menu .navbar-nav > li > a,
.footer-menu .navbar-nav > li > a
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-header-menu .navbar-default .navbar-nav > li > a:hover, .top-header-menu .navbar-default .navbar-nav > li > a:focus,
.footer-menu .navbar-default .navbar-nav > li > a:hover, .top-header-menu .navbar-default .navbar-nav > li > a:focus
{
  color: #EF672F;
  text-transform: uppercase;
}

.top-header-menu .navbar-default .navbar-nav > li > a,
.footer-menu .navbar-default .navbar-nav > li > a
{
  color: #ffffff;
  text-transform: uppercase;
}

.top-header-menu .navbar-default .navbar-nav > .open > a,
.footer-menu .navbar-default .navbar-nav > .open > a
{
  background: none;
}

.top-header-menu .dropdown-menu
{
  background: url(image-path('background/bg_contact.png')) repeat scroll 0 0 transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.top-header-menu .dropdown-menu > li > a {
  color: #CAC3B4;
}

.top-header-menu .dropdown-menu > li > a:hover, .top-header-menu .dropdown-menu > li > a:focus {
  color: #ffffff;
  background: none;
}

.top-header-menu .navbar-default .navbar-nav > .active > a,
.top-header-menu .navbar-default .navbar-nav > .active > a:hover,
.top-header-menu .navbar-default .navbar-nav > .active > a:focus,
.footer-menu .navbar-default .navbar-nav > .active > a,
.footer-menu .navbar-default .navbar-nav > .active > a:hover,
.footer-menu .navbar-default .navbar-nav > .active > a:focus
{
  background: none;
}

.top-header-menu .navbar-collapse,
.top-header-menu .container-fluid,
.footer-menu .navbar-collapse,
.footer-menu .container-fluid

{
  padding-left: 0;
  padding-right: 0;
}

.top-header .slogan {
  padding: 17px 15px;
  color: #31302b;
}

.top-header .top-info p {
  margin-bottom: 0;
}

.top-header strong a {
  color: #31302b;
}

.top-header strong.pull-right {
  padding-top: 5px;
}

.us-flag {
  background-image: url(image-path('flags/us.png'));
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 160px;
}

.ru-flag {
  background-image: url(image-path('flags/ru.png'));
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 200px;
}

.top-header .flags {
  padding-top: 28px;
}

.pagination > .active > a, .pagination > .active > a:hover,
.pagination > .active > a:focus, .pagination > .active > span,
.pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 2;
  color: #FFF;
  background-color: #C14800;
  border-color: #C14800;
  cursor: default;
}

.pagination > li > a, .pagination > li > span {
  color: #31302B;
  background-color: #FFF;
  border: 1px solid #DDD;
  margin-left: -1px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #C14800;
  background-color: #EEE;
  border-color: #DDD;
}

/******************************************************************************/
/* Partner sliders                                                               */
/******************************************************************************/

.about .glyphicon-chevron-right:before,
.about .glyphicon-chevron-left:before
{
  content: "";
}

.about .carousel-control .glyphicon-chevron-left {
  background: url(image-path('partners/left_move.png')) no-repeat;
}

.about .carousel-control .glyphicon-chevron-right {
  background: url(image-path('partners/right_move.png')) no-repeat;
}

.about .carousel-control .glyphicon-chevron-left,
.about .carousel-control .glyphicon-chevron-right,
.about .carousel-control .icon-prev,
.about .carousel-control .icon-next {
  height: 40px;
}

.about .carousel-control .glyphicon-chevron-right
{
  margin-right: -40px;
}

.about .label {
  font-size: 70%;
}