@import "bootstrap";

/* Reset the container */
// http://getbootstrap.com/getting-started/#disable-responsive
// http://hashcode.ru/questions/301042/bootstrap-%D0%BD%D0%B5-%D0%B0%D0%B4%D0%B0%D0%BF%D1%82%D0%B8%D0%B2%D0%BD%D0%B0%D1%8F-%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%BA%D0%B0
.container {
  width: 970px;
  max-width: none !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-header-menu {
  width: 100%;
  height: 40px;
  background: url(image-path('background/bg_contact.png')) repeat scroll 0 0 transparent;
}

.footer-menu {
  width: 100%;
  height: 40px;
  background: url(image-path('background/bg_footer_menu.png')) repeat scroll 0 0 transparent;
}

.navbar-default {
  background: none;
  border: none;
}

.top-header-menu .navbar-nav > li > a,
.footer-menu .navbar-nav > li > a
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-header-menu .navbar-default .navbar-nav > li > a:hover, .top-header-menu .navbar-default .navbar-nav > li > a:focus,
.footer-menu .navbar-default .navbar-nav > li > a:hover, .top-header-menu .navbar-default .navbar-nav > li > a:focus
{
  color: #EF672F;
  text-transform: uppercase;
}

.top-header-menu .navbar-default .navbar-nav > li > a,
.footer-menu .navbar-default .navbar-nav > li > a
{
  color: #ffffff;
  text-transform: uppercase;
}

.top-header-menu .navbar-default .navbar-nav > .open > a,
.footer-menu .navbar-default .navbar-nav > .open > a
{
  background: none;
}

.top-header-menu .dropdown-menu
{
  background: url(image-path('background/bg_contact.png')) repeat scroll 0 0 transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.top-header-menu .dropdown-menu > li > a {
  color: #CAC3B4;
}

.top-header-menu .dropdown-menu > li > a:hover, .top-header-menu .dropdown-menu > li > a:focus {
  color: #ffffff;
  background: none;
}

.top-header-menu .navbar-default .navbar-nav > .active > a,
.top-header-menu .navbar-default .navbar-nav > .active > a:hover,
.top-header-menu .navbar-default .navbar-nav > .active > a:focus,
.footer-menu .navbar-default .navbar-nav > .active > a,
.footer-menu .navbar-default .navbar-nav > .active > a:hover,
.footer-menu .navbar-default .navbar-nav > .active > a:focus
{
  background: none;
}

.top-header-menu .navbar-collapse,
.top-header-menu .container-fluid,
.footer-menu .navbar-collapse,
.footer-menu .container-fluid

{
  padding-left: 0;
  padding-right: 0;
}

.top-header .slogan {
  padding: 17px 15px;
  color: #31302b;
}

.top-header .top-info p {
  margin-bottom: 0;
}

.top-header strong a {
  color: #31302b;
}

.top-header strong.pull-right {
  padding-top: 5px;
}

.us-flag {
  background-image: url(image-path('flags/us.png'));
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 160px;
}

.ru-flag {
  background-image: url(image-path('flags/ru.png'));
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 200px;
}

.top-header .flags {
  padding-top: 28px;
}