<div class="footer">
  <div class="footer_logo">
    <%= image_tag("footer/footer_logo.png", alt: "footer_image") %>
  </div>
  <p class="m-bottom-40">&copy; Copyright <%= Date.today.year %> Sitemaster - <%=t :footer_content_1 %></p>
</div>